@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,500&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body,html{
  overflow-x: hidden;
}
.primary{
  background-color: orange;
  padding: 5px 20px;
  color: antiquewhite;
  border: none;
}
